{% extends 'base.html.twig' %}

{% block title %}Service Après-Vente{% endblock %}

{% block body %}

<h1>Les requêtes SAV</h1>

{% for retour in retours %}

<p>
    {{retour.fName}}
    {{retour.lName}}
    {{retour.mail}}
    {{retour.phone}}
    {{retour.categories}}
    {{retour.numProduct}}
<p>

{% endfor %}

{% endblock %}
