{% extends 'base.html.twig' %}

{% block title %}Service Après-Vente{% endblock %}

{% block body %}

<h1>Résumer des rdv SAV Du jour</h1>

{% for retour in retours %}

<p> 
    <hr>
    <strong>Nom et prénom</strong>
    {{retour.lName}}
    {{retour.fName}}
    <strong>Contact</strong>
    <strong>Mail</strong>: {{retour.mail}}
    <strong>Téléphone</strong>: {{retour.phone}}<br/>
    <strong>Produits</strong>
    <strong>Catégories</strong>: {{retour.categories}}
    <strong>Ref</strong>: {{retour.numProduct}}
    <strong>Moment de RDV</strong>
    {{retour.dayMoment}}
<p>

{% endfor %}

{% endblock %}
